
.cat-section {
 color: black;
  padding: 30px;
}

.cat-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.cat-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 220px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.cat-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  background-color: #ff6f61;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
}
.back-link-cat{
    text-decoration: none;
    background: #800080;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
}